@media only screen and (min-width: 38rem) {
    .menu-bars {
      display: none;
    }
  
    nav {
      max-height: none;
      overflow: visible;
    }
  
    ul.menuLinks {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      opacity: 1;
      transform: none;
    }
  
    ul.menuLinks.open {
      opacity: 1;
      transform: none;
    }
  }
  