.place-card {
  display: grid;
  grid-template-areas:
    "name"
    "photograph"
    "description"
    "location";
  margin: 1rem 8px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 8px;
  padding: 1rem;
}

.place-card h2 {
  margin: 1rem 10px;
  grid-area: name;
  font-family: var(--font-family);
}

.image-container {
  overflow: hidden;
  display: inline-block;
  grid-area: photograph;
}

.image-container img {
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.2);
}

.place-card p {
  margin: 1rem 10px;
  font-size: 1.2rem;
  grid-area: description;
}
.place-card address {
  margin: 1rem 10px;
  font-size: 1rem;
  font-style: italic;
  grid-area: location;
}
.greeting {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem 0;
  text-align: left;
  font-style: italic;
}
.learn-more{
  padding: .5rem;
  background: #292828;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  border: none;
  border-radius: 8px;
  width: 7rem;
  height: 2.5rem;
  text-align: center;
  


}

.learn-more:hover{
  background: #333;
}