:root {
  --main-bg-color: #002b4e;
  --main-text-color: #000;
  --secondary-bg-color: #e5e5e5;
  --button-bg-color: #5a3c1a;
  --button-text-color: white;
  --border-radius: 0.5em;
  --padding: 0.5em;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: #ffffff;
  font-family:"Lato", serif;;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(hsla(0, 0%, 0%, 0.5) 70%, transparent 110%);
  z-index: -1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: "Tektur", Arial, Helvetica, sans-serif;
  margin-block: 0;
}

h1 a {
  font-size: 2rem;
  font-size: clamp(2rem, 1.2857142857rem + 3.0476190476vw, 3rem);
  line-height: 0.8;
}

a,
a:visited,
a:active {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
a:hover,
a:visited:hover,
a:active:hover {
  -webkit-text-decoration: underline 2px;
  text-decoration: underline 2px;
}

.wrapper {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;

 
}
.topnav   button {
  background: none;
  border: none;
  padding: 0;


}

.topnav_links {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.topnav_item {
  list-style-type: none;
}
.topnav_open[aria-expanded="true"] {
  + .topnav_menu {
    translate: 0;
  }
}
.topnav_close {
  display: block;
  margin-inline-start: auto;
  margin-block-end: 8rem;
 
}
.topnav_close img {
  width: 2.5rem;
}
.name {
  display: flex;
  flex-direction: row;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  margin: 3em;
  padding: var(--padding);
  color: var(--main-text-color);
}

.coursework,
.location,
.certificate {
  background-color: var(--secondary-bg-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: 0 0 50px #333;
}

.coursework ul {
  list-style: disc;
  padding-left: 20px;
}

.location img {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 10px 0;
}
.certificate {
  margin: 2em;
}
.certificate .buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.buttons > button {
  width: 5em;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--main-bg-color);
  color: #fff;
  cursor: pointer;
}

.certificate .courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.course {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
h2 {
  color: var(--main-text-color);
  text-align: center;
}
figcaption {
  font-size: 2em;
  text-align: center;
}
footer {
  background-color: var(--main-bg-color);
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

/* Focus states for accessibility */
button:focus,
.course:focus,
a:focus {
  outline: 2px solid yellow;
}

#credit-count {
  font-size: 1em;
  margin-bottom: 10px;
  color: #000;
}

/* Responsive Design */
@media (max-width: 48em) {
  .main {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 5px 0;
  }
  .topnav {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (width < 40em) {
  .topnav {
    flex-direction: row;
    gap: 1rem;
  }
  .topnav_links {
    flex-direction: column;
  }
  .topnav_menu {
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    background: hsl(0, 0%, 0%);
    translate: 100vw 0;
    transition:  0.5s ease-in-out;
  }
}

@media (width < 40em) and (prefers-reduced-motion) {
  .topnav_menu {
    translate: 0;
    opacity: 0;
    transition:  500ms ease-in-out;
  }
  .topnav_open[aria-expanded="true"]{
    opacity: 1;
  }  
}


@media (width >= 40em) {

  .topnav button{
    display: none;
  }
}
